@using Newtonsoft.Json

@{
    @model ReferenceModel
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Bar des bouttons d'enregistrement-->
                        <Navigate-custome fonction="Lister" breadcrumb1="Tables de références" breadcrumb2=@ViewData["displayTableName"]
                                          afficher-ajax-bouton-action="true"
                                          fonction-ajouter-ajax="makeRowAdd()"
                                          fonction-enregistrer-ajax="envoyerDonnees()"></Navigate-custome>
                        <!--Contenu-->
                        <div class="card">
                            <div class="card-header">
                                <h3></h3>
                                <span></span>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="feather icon-maximize full-card"></i></li>
                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!--Table-->
                            <div class="card-block">
                                <div class="dt-responsive table-responsive">
                                    <table id="tableReference" class="ui celled table table-bordered dataTable no-footer" width="100%">
                                        <thead style="background-color: mediumseagreen; color: white;">
                                            <tr>
                                                <th></th>
                                                <th>Supprimer</th>
                                                @foreach (var item in Model.TypeClass)
                                                {
                                                    <th>@item.Nom</th>
                                                }
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal static-->
<div class="modal fade" id="confirmation-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation de la suppression</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5></h5>
                <p>Etes-vous sûr de vouloir supprimer cet élément ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger waves-effect waves-light " id="supprimer">Supprimer</button>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <!--DataTable-->
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    @*<link rel="stylesheet" type="text/css" href="~/files/assets/pages/data-table/css/buttons.dataTables.min.css">*@
    <!-- Notification.css -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/notification/notification.css">

}

@section Scripts{
    <script src="~/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/files/assets/pages/data-table/extensions/row-reorder/js/dataTables.rowReorder.min.js"></script>
    <!-- notification js -->
    <script type="text/javascript" src="~/files/assets/js/bootstrap-growl.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#confirmation-Modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var modal = $(this);
                var prefix = button.data("prefix");
                var index = button.data("index");
                //modal.find("#supprimer").attr("onclick", `window.mydatatables.${prefix}.deleteRow(event, ${index})`);
                modal.find("#supprimer").click(function () {
                    window.mydatatables[prefix].deleteRow(event, index);
                    modal.modal('hide');
                });
            })
        });

        var decodeHTML = function (html) {
            var txt = document.createElement('textarea');
            txt.innerHTML = html;
            return txt.value;
        };
        /**
         * Serialiser la liste a utiliser dans le JS de la page
         */
        //var test = @Model.TypeClass.Select(n => n.Nom);
        var tableName = "@ViewData["tableName"]";
        var properties = JSON.parse(decodeHTML('@JsonConvert.SerializeObject(Model.TypeClass)'));
        var listeTableLiee = JSON.parse(decodeHTML('@JsonConvert.SerializeObject(Model.ListeTablesLiees)'));
        //var listeDonnees = JSON.parse(decodeHTML('@JsonConvert.SerializeObject(Model.listeValeur)'));
        var listeDonnees = JSON.parse(decodeHTML('@JsonConvert.SerializeObject(Model.listeValeur, new JsonSerializerSettings { DateFormatString = "dd/MM/yyyy HH:mm:ss" })'));
    </script>
    <script src="~/js/my_data_table.js"></script>
    <script src="~/js/defaultConfigDataTable.js"></script>
    <script src="~/js/detailsReferenceTable.js"></script>
    <script type="text/javascript" src="~/files/assets/pages/notification/notification.js"></script>
}