@model ReferenceDomaine



<div class="row" id="Domaine">

    @foreach (var elt in Model.ReferenceTable)
    {
        <div class="col-xl-3 col-md-6 domaineElement" data-idReference="@elt.Key">
            <div class="testcolor">
                <div class="card bg-c-yellow update-card">
                    <div class="card-block t1">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h6 class="text-white m-b-0">Module</h6>
                                <h4 class="text-white">@elt.Key </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer t1">
                        <p class="text-white m-b-0"><i class="fa fa-list-ol"></i>  @elt.Value.Count Tables de références</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@*@foreach (var elt in Model.ReferenceTable)
    {
        <div class="col-xl-3 col-md-6">
            <div class="card elementList" data-idReference="@elt.Key" style="display:none">
                @foreach (var item in elt.Value)
                {
                    <ul class="list-group connectedSortable">
                        <li class="list-group-item" style="text-transform:uppercase">@item</li>
                    </ul>
                }
            </div>
        </div>
    }*@





@foreach (var elt in Model.ReferenceTable)
{
    <div class="row card-block">
        <div class="list-group elementList" data-idReference="@elt.Key" style="display:none">
            @foreach (var item in elt.Value)
            {
                <a class="list-group-item list-group-item-action" href="~/Reference/DetailsReferenceTable?tableName=@item">@item</a>

            }
        </div>
    </div>
}


@*<a class="btn btn-default list-group-item-action" href="~/Reference/Lister?tableName=@item">@item</a>*@

@*<a type="button"
   class="tabledit-delete-button btn btn-outline-info waves-effect waves-light"
   style="float: none;margin: 5px;"
   href="~/Reference/Lister?tableName=@item" title="Détails">
    <span class="icofont icofont-list"></span>
</a>*@

@*@foreach (var elt in Model.ReferenceTable)
    {
        <div class="row card-block">
            <div class="col-md-6 col-lg-4 elementList" data-idReference="@elt.Key" style="display:none">
                <div class="card card-block user-card">
                    <ul class="scroll-list wave">
                        @foreach (var item in elt.Value)
                        {
                            <li>
                                <h6>@item</h6>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }*@




@*<div class="col-md-6 col-lg-4">
        <div class="card card-block user-card elementList" data-idReference="@elt.Key" style="display:none">
            @foreach (var item in elt.Value)
            {
                <ul class="scroll-list wave">
                    <li>
                        <h6>@item</h6>
                    </li>
                </ul>
            }
        </div>
    </div>*@

@section Styles {
    <!-- list css -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/list-scroll/list.css">
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/stroll/css/stroll.css">
}

@section Scripts {
    <!-- list-scroll js -->
    <script src="~/files/bower_components/stroll/js/stroll.js"></script>
    <script type="text/javascript" src="~/files/assets/pages/list-scroll/list-custom.js"></script>
    <script>
        $(document).ready(function () {
            $(".domaineElement").on("click", function (event) {
                var id = $(this).data().idreference;
                $('.elementList').hide();
                $('.elementList[data-idReference="' + id + '"]').show();
                $("domaineElement").removeClass("bg-c-green").css("bg-c-yellow");
                var card = $(this).find(".update-card");
                if (card.hasClass("bg-c-yellow"))
                    card.removeClass("bg-c-yellow").addClass("bg-c-green");
                else
                    card.removeClass("bg-c-green").addClass("bg-c-yellow");
            });
        });
    </script>
}
