@model ReferenceDomaine


<div class="row">
    <div class="col-md-12 col-xl-7 ">
        <div class="row" id="Domaine">
            @foreach (var elt in Model.ReferenceTable)
            {

                <div class="col-md-3 col-xl-6 domaineElement" style="margin-top:20px" data-idReference="@elt.Key">
                    <div class="testcolor">
                        <div class="card bg-c-yellow update-card">
                            <div class="card-block t1">
                                <div class="row align-items-end">
                                    <div class="col-6">
                                        <h6 class="text-white m-b-0">Fonction</h6>
                                        <h4 class="text-white">@elt.Key </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer t1">
                                <p class="text-white m-b-0"><i class="fa fa-list-ol"></i>  @elt.Value.Count Tables de références</p>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="col-md-12 col-xl-5 ">
        
        <div class="card app-design border-left tt" style="margin-top:20px; border-left:solid">
            <div class="card-block">
                @foreach (var elt in Model.ReferenceTable)
                {
                <div class="list-group elementList col-md-3 col-xl-5" data-idReference="@elt.Key" style="display:none;margin-left:20px">
                    <h4 class="modal-title"> @elt.Key : </h4>
                    @foreach (var item in elt.Value)
                    {
                        <a class="list-group-item list-group-item-action" href="~/Reference/DetailsReferenceTable?tableName=@item.TableName">@item.DisplayTableName</a>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</div>


@section Styles {
    <!-- list css -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/list-scroll/list.css">
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/stroll/css/stroll.css">
}

@section Scripts {
    <!-- list-scroll js -->
    <script src="~/files/bower_components/stroll/js/stroll.js"></script>
    <script type="text/javascript" src="~/files/assets/pages/list-scroll/list-custom.js"></script>
    <script>
        $(document).ready(function () {
            $(".domaineElement").on("click", function (event) {
                //pour afficher la liste des tables de références
                var id = $(this).data().idreference;
                $('.elementList').hide();
                $('.elementList[data-idReference="' + id + '"]').show();
                //pour changer la couleur du bouton (Domaine) choisi
                $(".update-card").removeClass("bg-c-green").addClass("bg-c-yellow");
                var card = $(this).find(".update-card");
                if (card.hasClass("bg-c-yellow"))
                    card.removeClass("bg-c-yellow").addClass("bg-c-green");
                else
                    card.removeClass("bg-c-green").addClass("bg-c-yellow");
            });
        });
    </script>
}
